<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"><!-- esta direcciona requiere de una dependencia extra de Thymeleaf en la version security6 -->
	
<head th:insert="~{plantilla/templateKevin :: head}"> <!-- este "head" es el nombre del fragmento de la etiqueta head en el template  --> 	
</head>
	
<body class="bg-secondary">
	
	<!-- <header th:replace="plantilla/templateKevin :: header"></header>  ANTIGUOS-->
	<header th:insert="~{plantilla/templateKevin :: header}"></header>
	
	<div th:insert="~{plantilla/templateKevin :: sidebar}"></div>
		
    <!-- MAIN -->
    <div class="principal bg-light d-flex flex-column vh-100"> <!-- se pinta solo el tamaño de la pantalla al 100% -->
        <!-- CONTENT -->
        <div class="contenido bg-light h-auto px-3 py-4" id="Contenedor"> <!-- equivalente a un auto es decir se pinto solo todo el contenido-->
            <!-- REMPLAZA TODO ESTO -->
            
            <h3>main</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur ab harum odio quisquam aperiam veniam consequatur eveniet ut fugiat et beatae autem ipsum laboriosam, sed voluptates cupiditate, quae exercitationem fuga.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur ab harum odio quisquam aperiam veniam consequatur eveniet ut fugiat et beatae autem ipsum laboriosam, sed voluptates cupiditate, quae exercitationem fuga.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur ab harum odio quisquam aperiam veniam consequatur eveniet ut fugiat et beatae autem ipsum laboriosam, sed voluptates cupiditate, quae exercitationem fuga.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur ab harum odio quisquam aperiam veniam consequatur eveniet ut fugiat et beatae autem ipsum laboriosam, sed voluptates cupiditate, quae exercitationem fuga.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur ab harum odio quisquam aperiam veniam consequatur eveniet ut fugiat et beatae autem ipsum laboriosam, sed voluptates cupiditate, quae exercitationem fuga.</p>
	        <br>

			<div>
				<label>Usuario del empleado autenticado: </label>
				<label sec:authentication="name" class="text-danger"></label>
			</div><!--
			Nombre del empleado autenticado:
		    <div sec:authentication="principal.nombre"></div>
		    Apellido del empleado autenticado:
		    <div sec:authentication="principal.apellidos"></div>-->
		    <div>
				<label>Roles del empleado autenticado: </label>
				<label sec:authentication="principal.authorities" class="text-danger"></label>
			</div>
		    <br>
		    <div sec:authentication="principal" class="text-danger"></div>

			
			
        </div>
        <!-- FOOTER -->
        <div class="pie bg-warning p-2">
            <h3 class="m-0">footer</h3>
        </div>
	</div>
	
	<div th:insert="~{plantilla/templateKevin :: alertas}"></div>
	
	<div th:insert="~{plantilla/templateKevin :: scripts}"></div>

	
</body>

</html>